---
import type { GetStaticPaths } from "astro";
import { getI18nPaths, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/FullLayout.astro";

import { ui } from "@/i18n/ui";

import Head from "@ui/blocks/Head.astro";
import Hero from "@ui/blocks/landing/Hero.astro";
import About from "@ui/blocks/landing/About.astro";

export const getStaticPaths = (() => {
  return getI18nPaths();
}) satisfies GetStaticPaths;

const { i18n = "es" } = Astro.params;
const t = useTranslations(i18n as keyof typeof ui);
---

<Layout>
  <Head slot="head" title={t("title")} description={t("description")} />
  <main class="space-y-12 sm:space-y-16 lg:space-y-20 px-8 pb-6 sm:pb-12">
    <Hero t={t} />
  </main>
</Layout>
