---
import type { GetStaticPaths } from "astro";
import { getI18nPaths, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/FullLayout.astro";

import { ui } from "@/i18n/ui";

import Head from "@ui/blocks/Head.astro";
import Hero from "@ui/blocks/landing/Hero.astro";
import EmploymentHistory from "@ui/blocks/landing/EmploymentHistory.astro";
import TechStack from "@/components/blocks/landing/TechStack.astro";

export const getStaticPaths = (() => {
  return getI18nPaths();
}) satisfies GetStaticPaths;

const { i18n = "es" } = Astro.params;
const t = useTranslations(i18n as keyof typeof ui);
---

<Layout>
  <Head
    slot="head"
    title={t("title") as string}
    description={t("description") as string}
  />
  <main class="space-y-32 px-8 pb-6 sm:pb-12">
    <Hero t={t} />
    <EmploymentHistory t={t} />
    <TechStack />
  </main>
</Layout>
