---
import Layout from "@/layouts/FullLayout.astro";
import type { GetStaticPaths } from "astro";
import { getI18nPaths, useTranslations } from "@/i18n/utils";

import Head from "@ui/blocks/Head.astro";
import { Language, ui } from "@/i18n/ui";
import { projectsIds, getProject } from "@/data/projects";

import ProjectCard from "@ui/widgets/ProjectCard.astro";

export const getStaticPaths = (() => {
  return getI18nPaths();
}) satisfies GetStaticPaths;

const i18n = Astro.currentLocale;
const t = useTranslations(i18n as keyof typeof ui);

const projects = projectsIds.map((id) => getProject(i18n as Language, id));
const props = {
  repoTitle: t("projects.repo") as string,
  techTitle: t("projects.techs") as string,
  btnMoreTitle: t("projects.more") as string,
  btnLessTitle: t("projects.less") as string,
};
---

<Layout>
  <Head slot="head" title="Projects" description="Projects" />

  <main>
    <h1 class="text-4xl font-bold my-4 mb-6 text-center">
      {t("projects.title")}
    </h1>

    <ul class="space-y-5 px-4 pb-8">
      {projects.map((project) => <ProjectCard {...project} {...props} />)}
    </ul>
  </main>
</Layout>
