---
import Nav from "./Nav.astro";
---

<header
  class="h-16 flex flex-row justify-between items-center px-3
  sm:px-5 lg:px-10 sticky top-0
  bg-gradient-to-b dark:from-black from-white from-60% z-50"
>
  <div class="font-anta">
    <h2 class="hidden sm:block text-2xl">carlos cancino</h2>
    <h2 class="block sm:hidden text-lg">cancino</h2>
  </div>
  <Nav />
</header>
