---
import Layout from "@/layouts/SimpleLayout.astro";

import Head from "@ui/blocks/Head.astro";
---

<Layout>
  <Head slot={"head"} title="404" description="" />

  <main class="flex-1 flex flex-col justify-center items-center">
    <h1 class="text-8xl font-bold">404</h1>
    <p class="text-xl mt-4">Página no encontrada</p>
    <a
      href="/"
      class="mt-6 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
    >
      Volver al inicio
    </a>
  </main>
</Layout>
