---
import TechCard from "@ui/widgets/TechCard.astro";
import { technologies } from "@/data/tech-stack";
import { UiProps } from "@/i18n/ui";

interface Props extends UiProps {}

const { t } = Astro.props;

const lang = Astro.currentLocale || "es";
---

<section>
  <h2 class="text-center text-2xl lg:text-3xl mb-2 lg:mb-4">
    {t("tech.title")}
  </h2>
  <div class="grid grid-cols-2 grid-rows-[repeat(17, 2rem)] gap-4">
    {
      technologies.map((tech) => (
        <div
          class={`${tech.columns} rounded-md bg-zinc-50/80 dark:bg-zinc-900/50 py-4 lg:px-4`}
        >
          <h3 class="text-lg text-center mb-2">{tech.name[lang]}</h3>
          <ul class="flex flex-wrap gap-2 px-1 justify-center max-w-xl mx-auto">
            {tech.items.map((item) => (
              <TechCard item={item} />
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
