---
import { technologies } from "@/data/tech-stack";
import { Icon } from "astro-icon/components";

const lang = Astro.currentLocale || "es";
---

<section>
  <h2 class="text-center text-2xl lg:text-3xl mb-2">Tech Stack</h2>
  <div class="grid grid-cols-2 grid-rows-[repeat(17, 2rem)] gap-4">
    {
      technologies.map((tech) => (
        <div class={`${tech.columns} rounded-md bg-zinc-50/80 dark:bg-zinc-900/50 py-4 lg:px-4`}>
          <h3 class="text-lg text-center mb-2">{tech.name[lang]}</h3>
          <ul class="flex flex-wrap gap-2 px-1 justify-center max-w-xl mx-auto" >
            {tech.items.map((item) => (
              <li class="flex flex-row items-center justify-center rounded-md w-full max-w-32 bg-zinc-100 dark:bg-zinc-800 gap-2 py-2 px-3">
              {typeof item === "string" ? 
                (
                  <Icon
                    name={`devicon:${item.toLowerCase()}`}
                    class="h-5 w-5"
                  />
                ):(
                  <Icon
                    name={`${item.prefix ? item.prefix : "devicon"}:${item.icon}`}}
                    class="h-5 w-5"
                  />
                )
              }
              <p class="text-center text-xs md:text-sm">{typeof item === "string" ? item : item.name}</p>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
